/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 30px;
	margin: 0;
}

canvas{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.row {
	margin: 0;
}

.jumbotron.custom-jumbotron {
	padding-bottom: 30px;
}

p.fine-print {
	font-size: 12pt;
	color: #AAA;
}

#main-container {
	margin-top: 30px;
	padding-bottom: 30px;
}

.btn {
	width: 200px;
}

/*truncate and add ellipsis to text that is longer than the dropdown */
.btn, .dropdown-menu > li > a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 9pt;
}

.btn-group {
	margin: 5px 10px;
}

.dropdown-menu {
	width: 100%;
}

/*right-align caret for aesthetics*/
.caret {
	position: absolute;
	left: 93%;
	top: 45%;
}

.dropdown-menu .divider {
	margin: 5px 0;
}

.custom-popover {
	margin: 0;
	padding: 0;
	float: left;
	width: 100px;
}

a#income-level-popover {
	text-decoration: none;
}

#chart {
	width:90%;
	margin: auto;
}

#notable-plots {
	margin-bottom: 50px;
}

.pic {
	width: 350px;
}

.custom-footer > .row {
	background: #2C2C2C;
	color: white;
	padding: 10px;
}

#USC-seal {
	width: 400px;
	float: right;
}