/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 30px;
}

.jumbotron.custom-jumbotron {
	padding-bottom: 30px;
}

p.fine-print {
	font-size: 12pt;
	color: #AAA;
}

.custom-footer {
    background: #2C2C2C;
    color: #DDD;
}

.main-container {
	padding-bottom: 100px;
}

.dropdown-toggle {
	width: 150px;
	margin: 5px;
}

.pic {
	width: 350px;
}